#banner{
    min-height: 80px;
}
#banner h1{
    font-size: 80px;
    text-align: center;
    line-height: 1.5;
    white-space: pre-line;
}

  #banner img {
  text-align: center;
  max-width: 90%;
  height: auto;
}

/* Media query for screens smaller than 768px (e.g., smartphones) */
@media (max-width: 767px) {
  #banner h1{
    font-size: 40px;
    text-align: center;
    line-height: 1;
  }
  #banner img {
    width: 60%; /* Decrease the width for smaller screens */
  }
}

/* Media query for screens larger than 768px (e.g., tablets, desktops) */
@media (min-width: 768px) {
  #banner h1{
    font-size: 80px;
    text-align: center;
    line-height: 1.5;
  }
  #banner img {
    width: 90%; /* Adjust the width as per your requirement */
  }
}


  
  /* ======================================================================================================================= */

  #top,
  #bottom {
    box-sizing: border-box;
    padding: 100px 0;
    min-height: 50vh;
  }
  #top {
    background: url(http://portfolio.queenofwhisks.com/demo/overlay/border-bottom-triangle-edge.png) repeat-x center bottom, hsl(180, 40%, 80%) url(http://portfolio.queenofwhisks.com/demo/overlay/canvas.png);
  }
  #bottom {
    background: #fff url(http://portfolio.queenofwhisks.com/demo/overlay/stripe-diagonal-broken.png);
  }
  .banner h1 {
    color: #333;
    font-family: Zapfino, 'Edwardian Script ITC', cursive;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-shadow: 6px 4px 3px rgba(0,0,0,0.5);
    line-height: 1.0;
    margin: 0 0 20px;
  }
  .ribbon-container {
    background: transparent !important;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
  }
  .ribbon {
    background: #ab45fe;
    box-shadow: 2px 6px 12px rgba(0,0,0,0.5);
    font-family: Charter, serif;
    font-size: 16px;
    line-height: 1.0;
    text-align: center;
    margin: 0 auto;
    padding: 0.25em 0;
    position: relative;
    width: 40%;
  }
  .ribbon:before,
  .ribbon:after {
    border: 1.5em solid #ab45fe;
    content: '';
    display: block;
    position: absolute;
    bottom: -1em;
    z-index: -1;
  }
  .ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  }
  .ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    box-shadow: -2px 2px 2px rgba(0,0,0,0.5);
  }
  .ribbon-content {
    border-top: 0.0625em dashed #ffffff;
    border-bottom: 0.0625em dashed #ffffff;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.08), inset 0px -1px 1px rgba(255,255,255,0.08), 0px -1px 1px rgba(255,255,255,0.2), 0px 1px 1px rgba(0,0,0,0.08);
    display: block;
    padding: 0.6875em 0;
  }
  .ribbon-content:before,
  .ribbon-content:after {
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    border-color: #952fe9 transparent transparent transparent;
    bottom: -1em;
  }
  .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
  }
  .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
  }
  .ribbon a {
    color: #ececec;
    font-size: x-large;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.25);
  }
  .ribbon a:hover {
    color: hsl(64, 90%, 51%);
  }
  .underpage {
    background: #f4f4f4 url(http://portfolio.queenofwhisks.com/demo/overlay/noise-paper.png);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
    box-sizing: border-box;
    color: #444;
    font-family: Garamond, 'Goudy Old Style', Times, 'Times New Roman', serif;
    line-height: 1.5;
    margin: 0 auto;
    padding: 4.5em 1.5em 1.5em;
    position: relative;
    top: -4em;
    width: 65%;
    z-index: -1;
  }
  .underpage p:last-child {
    margin-bottom: 0;
  }


  .info{
    margin: 100px auto 100px auto;
    padding: 75px 0 75px 0;
    text-align: center;
    /* background: #ff1391; */
    background-image: linear-gradient(45deg, #ff1391 0%, #8740ca 100%);
  }
  

  .info h3{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .info p{
    color: #dddddd;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .circular-image {
    margin: 10px auto 10px auto;
    width: 70%;
  }
  
